
<div class="jumbotron">
	<div class="container">
		<h2>Welcome to my <strong>Awesome</strong> App</h2>
		<h6>This is a website where you can connect,post and share things/stuffs via facebook</h6>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Connect with facebook</h3>
			<p>Signin or signup</p>
		</div>
		<div class="col-md-4">
			<h3>Create posts</h3>
			<p>start quick posts in seconds</p>
		</div>
		<div class="col-md-4">
			<h3>Share it</h3>
			<p>share with your friends on facebook</p>
		</div>
	</div>
</div>